<template>
  <div class="dashboard">
   <h1 class="subheading grey--text">Dashboard</h1>
    <v-container class="my-5">
    <v-layout row class="mb-3">
    
      <v-tooltip top>
      <template v-slot:activator="{ on }">
      <v-btn small flat color="grey" dark v-on="on" @click="sortBy('title')">
      <v-icon left small>folder</v-icon>
      <span class="caption text-lowercase">By Project Name</span>
      </v-btn>
       </template> 
      <span>sort project by project name</span>
     </v-tooltip>

      <v-tooltip top>
      <template v-slot:activator="{ on }">  
      <v-btn small flat color="grey" dark v-on="on" @click="sortBy('person')">
        <v-icon left small>person</v-icon>
        <span class="caption text-lowercase">By Person</span>
      </v-btn>
      </template> 
      <span>sort project by person name</span>
     </v-tooltip>

    </v-layout>
    <v-card flat  v-for="project in projects" :key="project.title">
    <v-layout row wrap :class="`pa-3 project ${project.status}`">
    <v-flex xs12 md6>
     <div class="caption grey--text">Project Title</div>
     <div>{{ project.title }}</div> 
    </v-flex> 
     <v-flex xs6 sm4 md2>
     <div class="caption grey--text">Person</div>
     <div>{{ project.person }}</div> 
    </v-flex>
    <v-flex xs6 sm4 md2>
     <div class="caption grey--text">Due by</div>
     <div>{{ project.due }}</div> 
    </v-flex>
    <v-flex xs2 sm4 md2>
     <div class="caption grey--text">Status</div>
     <div>{{ project.status }}</div> 
    </v-flex>
    </v-layout>
     <v-divider></v-divider>
    </v-card> 
   </v-container>

  </div>
</template>

<script>
// @ is an alias to /src


export default {
  data(){
    return{
      projects:[
        { title: 'Design a new website',person:'Moses Nyamekeh',due:'1st May,2020',status:'complete'},
        { title: 'Develop a new android app',person:'Blay Moses',due:'1st June,2020',status:'ongoing'},
        { title: 'Design a new youtube channel',person:'Adjo Anne',due:'1st January,2020',status:'overdue'},
        { title: 'Affiliate Marketing',person:'Miezan Daniel',due:'1st January,2020',status:'ongoing'},     
      ]
    }
  },
  methods:{
    sortBy(prop){
      this.projects.sort((a,b)=>a[prop] < b [prop] ? -1:1)
    }
  }
   
  }

</script>

<style>
.project.complete{
  border-left: 4px solid greenyellow;
}
.project.ongoing{
  border-left: 4px solid orange;
}
.project.overdue{
  border-left: 4px solid red;
}
</style>