<template>
  <div class="projects">
    <h1 class="subheading grey--text">Projects</h1>
     <v-container class="my-5">
     <v-expansion-panels>
      <v-expansion-panel
        v-for="(item,i) in 1"
        :key="i"
      >
        <v-expansion-panel-header>Project Title</v-expansion-panel-header>
        <v-expansion-panel-content>
          Due by
          11th May 2020
        </v-expansion-panel-content>

        <v-expansion-panel-header>Project Title</v-expansion-panel-header>
        <v-expansion-panel-content>
          Due by
          15th May 2020
        </v-expansion-panel-content>
     </v-expansion-panel>
    </v-expansion-panels>
   </v-container>
  </div>
</template>
