<template>
    <nav>
        <v-toolbar flat app>
          <v-app-bar-nav-icon class="grey--text" @click="drawer = !drawer"></v-app-bar-nav-icon>
          <v-toolbar-title class="text-uppercase grey--text">
           <span class="font-weight-light">Todo</span>
           <span>App</span>   
          </v-toolbar-title>
          <v-spacer></v-spacer>
          
        
         

         

          <v-btn flat color="grey">
           <span>Sign Out</span>   
          <v-icon right></v-icon>    
          </v-btn>    
        </v-toolbar>

        <v-navigation-drawer floating app v-model="drawer"  class="red darken-1">
           <v-layout column align-center>
             <v-flex class="mt-5">
               <v-avatar size="100">
                 <img src="/moise.jpg">
               </v-avatar>
               <p class="white--text subheading mt-1">
                  Moses Nyamekeh
               </p> 
             </v-flex>
             <v-flex>
               <popup/>
             </v-flex>  
           </v-layout>
           
            <v-list flat>
              <v-list-item-group v-model="model" color="indigo">
                <v-list-item
                  v-for="(item, i) in items"
                  :key="i"
                  router :to="item.route"
                >
          <v-list-item-icon>
            <v-icon class="white--text" v-text="item.icon"></v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title class="white--text" v-text="item.text"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
    </v-navigation-drawer>
    </nav>
</template>
<script>
import popup from './popup'
export default { 
  components: {popup},
    data(){
      return{
      drawer:false,
      items: [
        {
          icon: 'dashboard',
          text: 'Dashboard',
          route:'/',
        },
        {
          icon: 'folder',
          text: 'My Projects',
          route:'/projects'
        },
        {
          icon: 'person',
          text: 'Team',
          route: '/team'
        },
      ]
      
    }
  }
  }
</script>