
<template>
  <div class="text-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <template v-slot:activator="{ on }">
        <v-btn
          class="information"
          dark
          v-on="on"
        >
          Add A New Project
        </v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Project Title
        </v-card-title>

        <v-card-text>
         <v-form class="px-3">
          <v-text-field label="Title" v-model="title" prepend-icon="folder"></v-text-field> 
          <v-textarea label="Information" v-model="content" prepend-icon="edit"></v-textarea> 
          <v-btn flat class="success mx-0 mt-3" @click="submit">Add Project</v-btn> 
         </v-form>
        </v-card-text>

      </v-card>
    </v-dialog>
  </div>
</template>
      

<script>
export default {
    data(){
        return{
            title: '',
            content: ''
        }
    },
    methods:{
        submit(){
            console.log(this.title,this.content)
        }
    }
}
</script>

