<template>
  <v-app class="grey lighten-4">
    <!--header info-->
    <Navbar />
    <v-content class="mx-4 mb-4">
      <!--body info-->
      <router-view></router-view> 
      <!--footer info-->
    </v-content>
  </v-app>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  name: 'App',
  components:{Navbar},

  

  data: () => ({
    //
  }),
};
</script>
